<connectionStrings>
    <add name="db" connectionString="Server=tcp:dionisupero.database.windows.net,1433;Initial Catalog=superodb;Persist Security Info=False;User ID=dionisupero;Password=dionisupera#2018;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />         
  </connectionStrings>